body {
  background: url(http://hdqwalls.com/download/1/cyan-sea-ocean-hd-4e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}
.card {
  width: 90%;
  max-width: 470px;
  background: #013544;
  color: aliceblue;
  border-radius: 20px;
  padding: 58px 35px;
  text-align: center;
  margin: 100px auto 0;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background-color: #82b1cb;
  padding: 27px 25px;
  color: #fff;
  height: 40px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 20px;
}
::placeholder {
  color: #dfe7e2;
}
.search button {
  border: 0;
  outline: 0;
  background: #82b1cb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #dfe7e2;
}
.search button i {
  font-size: 18px;
}

.weather .weatherIcon {
  width: 80px;
  margin-top: 16px;
}
.weather h1 {
  font-size: 40px;
  font-weight: 600;
}
.weather h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col .weatherIcon {
  width: 60px;
  margin-right: 15px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
